@import "preloader/preloader";
@import "header/header";
@import "untils/untils";
@import "TitleBlock/TitleBlock";
@import "main/main-left";
@import "unlimited-sale/unlimited-sale";
@import "main/main-right";
@import "image-information/image-information";
@import "NumberInput/NumberInput";
@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: #212121;
}
*::selection {
  background-color: rgba(171, 133, 84, 0.3);
}

/* body {
  ‑webkit‑text‑size‑adjust: 100%;
} */

.container {
  max-width: 1400px;
  margin: auto;
}
@media screen and (max-width: 1415px) {
  .container {
    padding: 0 15px;
  }
}

.footer__list {
  width: 100%;
  display: flex;
  justify-content: center;
  li {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
}

.shadow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.shadow h3 {
  font-size: 35px;
  text-align: center;
  position: absolute;
  bottom: 53px;
}
@media screen and (max-width: 600px) {
  .shadow h3 {
    top: 8vw;
  }
}
.shadow span {
  opacity: 0.03;
  font-size: 100px;
  font-family: "Secular One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media screen and (max-width: 600px) {
  .shadow span {
    font-size: 18vw;
  }
}

.wave_top {
  position: absolute;
  z-index: -1;
  top: 0;
}

.wave_bottom {
  position: absolute;
  z-index: -1;
  bottom: 0px;
}

section {
  position: relative;
  padding: 50px 0;
}

.wkit-button {
  font-family: "Wellfleet", cursive !important;
  color: #212121 !important;
  width: auto !important;
  background: linear-gradient(
    90deg,
    rgba(224, 185, 152, 1) 23%,
    rgba(140, 241, 230, 1) 80%
  ) !important;
}

@media screen and (max-width: 500px) {
  .wkit-button {
    //font-size: 10px !important;
    //padding: 10px !important;
  }
}

.main_banner .banner_image_wrapper {
  height: 75vh;
  display: flex;
  align-items: center;
  position: relative;
}
.main_banner .banner_image_wrapper .banner_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main_banner .banner_image_wrapper .banner_text h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 95%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main_banner .banner_image_wrapper .banner_text p {
  font-size: 20px;
}
.main_banner .banner_image_wrapper .banner_text p svg {
  height: 17px;
  width: 20px;
}
@media screen and (max-width: 500px) {
  .main_banner .banner_image_wrapper .banner_text p svg {
    height: 13px;
    width: 20px;
  }
}
@media screen and (max-width: 675px) {
  .main_banner .banner_image_wrapper .banner_text h1 {
    font-size: 10vw;
  }
  .main_banner .banner_image_wrapper .banner_text p {
    font-size: 15px;
  }
  .main_banner .banner_image_wrapper .banner_text br {
    display: none;
  }
}
.main_banner .banner_image_wrapper .bubble {
  position: absolute;
  z-index: -1;
}
.main_banner .banner_image_wrapper .bubble:nth-of-type(1) {
  animation: bubbleOne 6s infinite ease-in-out;
  top: 0;
  right: 5%;
  width: 300px;
}
.main_banner .banner_image_wrapper .bubble:nth-of-type(2) {
  animation: bubbleTwo 6s infinite ease-in-out;
  top: 10%;
  right: 35%;
  width: 200px;
}
@media screen and (max-width: 675px) {
  .main_banner .banner_image_wrapper .bubble:nth-of-type(2) {
    display: none;
  }
}
.main_banner .banner_image_wrapper .bubble:nth-of-type(3) {
  animation: bubbleThree 6s infinite ease-in-out;
  top: 45%;
  right: 20%;
  width: 250px;
}
@media screen and (max-width: 455px) {
  .main_banner .banner_image_wrapper .bubble:nth-of-type(3) {
    display: none;
  }
}

.sneak_peeks .container {
  text-align: center;
}
.sneak_peeks .container .carousel {
  display: flex;
  justify-content: space-between;
}
.sneak_peeks .container .carousel-img_box {
  width: 15%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  border: 1px solid rgba(21, 21, 21, 0.3);
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -ms-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}
.sneak_peeks .container .carousel-img_box img {
  width: 100%;
}
.sneak_peeks .container .carousel-img_box:hover {
  box-shadow: 0 0 15px 3px rgba(49, 43, 43, 0.35);
}
@media screen and (max-width: 900px) {
  .sneak_peeks .container .carousel-img_box {
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  .sneak_peeks .container .carousel-img_box {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .sneak_peeks .container .carousel-img_box:last-child {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .sneak_peeks .container .carousel {
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (max-width: 666px) {
  .sneak_peeks .container .shadow span {
    font-size: 10vw;
  }
  .sneak_peeks .container .shadow h3 {
    top: 2vw;
  }
}

.roadmap .container .steps_box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.roadmap .container .steps_box:before {
  content: "";
  height: 100%;
  width: 2px;
  background-color: rgba(21, 21, 21, 0.3);
  position: absolute;
  border-radius: 35px;
  left: 50%;
}
.roadmap .container .steps_box .step {
  padding: 25px;
  border: 1px solid rgba(21, 21, 21, 0.3);
  border-radius: 10px;
  background-color: rgb(242, 217, 181);
  width: 400px;
  position: relative;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -ms-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}
.roadmap .container .steps_box .step:before {
  content: "";
  height: 2px;
  background-color: rgba(21, 21, 21, 0.3);
  position: absolute;
  width: 5%;
  right: -29px;
  top: 50%;
  border-radius: 35px;
}

@media screen and (max-width: 1405px) {
  .roadmap .container .steps_box .step:before {
    display: none;
  }
}
.roadmap .container .steps_box .step:hover {
  box-shadow: 0 0 15px 3px rgba(49, 43, 43, 0.35);
}
.roadmap .container .steps_box .step:hover img {
  top: -74px;
}
.roadmap .container .steps_box .step:nth-child(even) {
  margin-left: 37%;
}
.roadmap .container .steps_box .step:nth-child(even):before {
  right: unset;
  left: -28px;
}
@media screen and (max-width: 800px) {
  .roadmap .container .steps_box .step:nth-child(even) {
    margin: 0;
    align-self: flex-end;
  }
}
@media screen and (max-width: 520px) {
  .roadmap .container .steps_box .step:nth-child(even) {
    align-self: center;
    display: flex;
    flex-direction: column;
  }
}
.roadmap .container .steps_box .step:nth-child(odd) {
  margin-right: 37%;
}
@media screen and (max-width: 800px) {
  .roadmap .container .steps_box .step:nth-child(odd) {
    margin: 0;
    align-self: flex-start;
  }
}
@media screen and (max-width: 520px) {
  .roadmap .container .steps_box .step:nth-child(odd) {
    align-self: center;
    display: flex;
    flex-direction: column;
  }
}
.roadmap .container .steps_box .step h4 {
  font-size: 20px;
  margin-bottom: 5px;
}
.roadmap .container .steps_box .step .step_data li {
  position: relative;
  margin-left: 12px;
}
.roadmap .container .steps_box .step .step_data li:before {
  width: 6px;
  height: 6px;
  left: -10px;
  top: 7px;
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  background-color: #212121;
}
.roadmap .container .steps_box .step img {
  position: absolute;
  top: -64px;
  right: 10%;
  width: 150px;
  z-index: -1;
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out;
  -ms-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}
@media screen and (max-width: 800px) {
  .roadmap .container .steps_box .step img {
    display: none;
  }
}
.roadmap .container .steps_box .step:nth-child(odd) img {
  right: unset;
  left: 10%;
  transform: scale(-1, 1);
}
.roadmap .container .steps_box .step:nth-child(1) img {
  display: block;
  right: unset;
  left: 10%;
  transform: scale(-1, 1);
}
@media screen and (max-width: 400px) {
  .roadmap .container .steps_box .step:nth-child(1) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 520px) {
  .roadmap .container .steps_box .step {
    max-width: 100%;
    width: 80%;
  }
}

.team .container .team_bio_wrapper {
  display: flex;
  justify-content: space-between;
}
.team .container .team_bio_wrapper .team_bio_box {
  width: 20%;
  display: flex;
  gap: 7px;
  align-items: center;
  flex-direction: column;
}
.team .container .team_bio_wrapper .team_bio_box .team-img_box {
  position: relative;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  border: 1px solid rgba(21, 21, 21, 0.3);
  -webkit-transition: box-shadow 0.5s ease-in-out;
  -moz-transition: box-shadow 0.5s ease-in-out;
  -ms-transition: box-shadow 0.5s ease-in-out;
  -o-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
}
.team .container .team_bio_wrapper .team_bio_box .team-img_box p {
  position: absolute;
  font-weight: 200;
  text-align: justify;
  padding: 20px;
  background-color: rgba(241, 189, 123, 0.7);
  border-top: 1px solid rgba(21, 21, 21, 0.3);
  border-bottom: 1px solid rgba(21, 21, 21, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  cursor: default;
}
.team .container .team_bio_wrapper .team_bio_box .team-img_box img {
  width: 100%;
  border-radius: 15px;
  -webkit-transition: filter 0.5s ease-in-out;
  -moz-transition: filter 0.5s ease-in-out;
  -ms-transition: filter 0.5s ease-in-out;
  -o-transition: filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
}
.team .container .team_bio_wrapper .team_bio_box .team-img_box:hover {
  box-shadow: 0 0 15px 3px rgba(49, 43, 43, 0.35);
}
.team .container .team_bio_wrapper .team_bio_box .team-img_box:hover p {
  opacity: 1;
}
@media screen and (max-width: 500px) {
  .team .container .team_bio_wrapper .team_bio_box .team-img_box:hover p {
    font-size: 20px;
  }
}
.team .container .team_bio_wrapper .team_bio_box .team-img_box:hover img {
  filter: blur(10px);
  -ms-filter: blur(10px);
  -webkit-filter: blur(10px);
}
.team .container .team_bio_wrapper .team_bio_box .team_name {
  font-weight: 700;
  font-size: 20px;
}
@media screen and (max-width: 900px) {
  .team .container .team_bio_wrapper .team_bio_box .team_name {
    font-size: 30px;
  }
}
.team .container .team_bio_wrapper .team_bio_box .team_rank {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .team .container .team_bio_wrapper .team_bio_box .team_rank {
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) {
  .team .container .team_bio_wrapper .team_bio_box {
    width: 45%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .team .container .team_bio_wrapper .team_bio_box {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .team .container .team_bio_wrapper {
    flex-wrap: wrap;
  }
}

.faq span {
  font-size: 80px;
}
.faq .tabs_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq .tabs_box .tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(49, 43, 43, 0.35);
  width: 50%;
}
.faq .tabs_box .tabs .tab {
  color: white;
  overflow: hidden;
}
.faq .tabs_box .tabs .tab input {
  display: none;
}
.faq .tabs_box .tabs .tab input:checked + .tab-label {
  background-color: rgba(241, 189, 123, 0.6);
}
.faq .tabs_box .tabs .tab input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.faq .tabs_box .tabs .tab input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 15px;
}
.faq .tabs_box .tabs .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: rgba(241, 189, 123, 0.4);
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background-color 0.35s ease-in-out;
  -moz-transition: background-color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
  border-bottom: 1px solid rgba(33, 33, 33, 0.05);
}
.faq .tabs_box .tabs .tab-label:hover {
  background-color: rgba(241, 189, 123, 0.8);
}
.faq .tabs_box .tabs .tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.faq .tabs_box .tabs .tab-content {
  max-height: 0;
  padding: 0 1em;
  background-color: rgba(241, 189, 123, 0.4);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.faq .tabs_box .tabs .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background-color: rgba(241, 189, 123, 0.6);
  cursor: pointer;
}
.faq .tabs_box .tabs .tab-close:hover {
  background-color: rgba(241, 189, 123, 0.8);
}
@media screen and (max-width: 1000px) {
  .faq .tabs_box .tabs {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .faq .tabs_box {
    margin-top: 90px;
  }
}
@media screen and (max-width: 489px) {
  .faq .tabs_box {
    margin-top: 130px;
  }
}
.faq small {
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.2;
  cursor: default;
}
.faq h3 {
  bottom: 40px;
}
@media screen and (max-width: 1290px) {
  .faq h3 {
    top: 1vw;
    bottom: unset;
  }
}
@media screen and (max-width: 1290px) {
  .faq .faq_heading {
    font-size: 5vw;
  }
}
@media screen and (max-width: 800px) {
  .faq .faq_heading {
    opacity: 0;
  }
}

footer {
  height: auto;
  padding: 15px 0;
  border-bottom: none;
  border-top: 1px solid rgba(21, 21, 21, 0.1);
}
footer .container {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
footer .container .logo {
  display: flex;
}
footer .container .logo img {
  height: 40px;
}
footer .container #arrow_up {
  position: absolute;
  left: calc(50% - 22.5px);
  top: calc(50% - 22.5px);
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 450px) {
  footer .container #arrow_up {
    left: calc(50% - 12.5px);
    top: calc(50% - 18px);
  }
}
footer .container #arrow_up:hover svg {
  opacity: 0.6;
  border-color: rgba(33, 33, 33, 0.6);
}
footer .container #arrow_up svg {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.3;
  padding: 5px;
  height: 35px;
  width: 35px;
  border: 1px solid rgba(21, 21, 21, 0.3);
  border-radius: 10px;
}
@media screen and (max-width: 450px) {
  footer .container #arrow_up svg {
    height: 25px;
    width: 25px;
  }
}
footer .container .socials {
  display: flex;
  align-items: center;
  gap: 25px;
}
footer .container .socials a {
  display: flex;
}
footer .container .socials a:hover {
  scale: 115%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .container .socials a:hover path {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: rgba(171, 133, 84, 0.6);
}
footer .container .socials a:hover svg {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 30px;
}

/* MINT PAGE */

.humster-mint {
  padding: 30px 0;
}

.main-wrapper {
  display: grid;
  height: 100%;
  grid-template-rows: 80px auto 50px;
}

.title-wrapper {
  font-size: 10vw;
  font-weight: 900;
  line-height: 95%;
  letter-spacing: 1px;
  list-style: none;
  text-decoration: none;
  font-family: "Wellfleet", cursive;
  color: #212121;
}

.humster-mint .container {
  font-family: "Wellfleet", cursive;
  margin: 0 auto;
  text-align: center;
}

.humster-mint h1,
.humster-mint p {
  font-family: "Wellfleet", cursive;
}

.rule-wrapper {
  margin-top: auto;
  text-align: center;
  margin-bottom: 10px;
}

.price-wrapper p {
  margin-bottom: 15px;
}

.price-wrapper {
  padding-bottom: 15px;
}

.rule-wrapper p {
  margin-bottom: 18px;
}

.rule-wrapper span {
  font-family: "Wellfleet", cursive;
  color: #212121;

  font-weight: 600;

  background-image: radial-gradient(
      circle at 100% 100%,
      transparent 9px,
      #e7d4c2 9px,
      #e7d4c2 11px,
      transparent 11px
    ),
    linear-gradient(to right, #e7d4c2, #bbf7ee),
    radial-gradient(
      circle at 0% 100%,
      transparent 9px,
      #bbf7ee 9px,
      #bbf7ee 11px,
      transparent 11px
    ),
    linear-gradient(to bottom, #bbf7ee, #bbf7ee),
    radial-gradient(
      circle at 0% 0%,
      transparent 9px,
      #bbf7ee 9px,
      #bbf7ee 11px,
      transparent 11px
    ),
    linear-gradient(to left, #bbf7ee, #e7d4c2),
    radial-gradient(
      circle at 100% 0%,
      transparent 9px,
      #e7d4c2 9px,
      #e7d4c2 11px,
      transparent 11px
    ),
    linear-gradient(to top, #e7d4c2, #e7d4c2);
  background-size: 11px 11px, calc(100% - 22px) 2px, 11px 11px,
    2px calc(100% - 22px);
  background-position: top left, top center, top right, center right,
    bottom right, bottom center, bottom left, center left;
  background-repeat: no-repeat;
  padding: 14px 20px;
}

.secondary-mint-title {
  margin-top: 15px;
  background: linear-gradient(
    90deg,
    rgba(140, 241, 230, 1) 9%,
    rgba(224, 185, 152, 1) 50%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */

  font-size: 7vw;

  line-height: 95%;
  letter-spacing: 1px;
  text-transform: none;
  list-style: none;
  text-decoration: none;
  font-family: "Wellfleet", cursive;
}

.mint-content-wrapper {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: "Nunito", sans-serif;
}

/* .poem-wrapper {
  font-size: 12px;
  font-family: "Wellfleet", cursive;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  border-width: 2px;
  border-style: solid;
  border-color: #daa484;
  border-radius: 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
} */

.poem-wrapper {
  background-image: radial-gradient(
      circle at 100% 100%,
      transparent 18px,
      #615f5f 18px,
      #615f5f 20px,
      transparent 20px
    ),
    linear-gradient(to right, #615f5f, #e4c6b8),
    radial-gradient(
      circle at 0% 100%,
      transparent 18px,
      #e4c6b8 18px,
      #e4c6b8 20px,
      transparent 20px
    ),
    linear-gradient(to bottom, #e4c6b8, #e4c6b8),
    radial-gradient(
      circle at 0% 0%,
      transparent 18px,
      #e4c6b8 18px,
      #e4c6b8 20px,
      transparent 20px
    ),
    linear-gradient(to left, #e4c6b8, #615f5f),
    radial-gradient(
      circle at 100% 0%,
      transparent 18px,
      #615f5f 18px,
      #615f5f 20px,
      transparent 20px
    ),
    linear-gradient(to top, #615f5f, #615f5f);
  background-size: 20px 20px, calc(100% - 40px) 2px, 20px 20px,
    2px calc(100% - 40px);
  background-position: top left, top center, top right, center right,
    bottom right, bottom center, bottom left, center left;
  background-repeat: no-repeat;
  /*font-size: 12px;*/
  font-family: "Wellfleet", cursive;
  text-align: center;
  /*max-width: 300px;*/
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 15px;
  font-size: 22px;
}

.wkit-disconnect-button__container {
  z-index: 2;
}

.buttons-wrapper {
  font-size: 20px;
  font-weight: 600;
  font-family: "Wellfleet", cursive;
}
.mint-block {
  width: 270px;
}
.humster-nft-img {
  max-width: 250px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: #dccdc8;
}

.custom-button {
  display: flex;
  gap: 15px;
  font-family: "Wellfleet", cursive;
  color: #212121;
  background: linear-gradient(
    90deg,
    rgba(224, 185, 152, 1) 23%,
    rgba(140, 241, 230, 1) 80%
  );
  border-radius: 15px;
  padding: 12px 35px;
  font-weight: 600;
  a {
    color: inherit;
  }
}

.gradient-button {
  background-image: linear-gradient(
    to right,
    #e0b998 0%,
    #8cf1e6 51%,
    #e0b998 100%
  ) !important;
  background-size: 200% auto !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) !important;
  transition: 0.5s !important;
}

.gradient-button:hover {
  background-position: right center !important;
}

.mint-header {
  position: relative;
  background-color: transparent;
}

.mint-header .wave_top {
  opacity: 0.7;
  top: -95px;
}

.footer-mint {
  position: relative;
  height: 0;
  padding: 0px 0;
  border-bottom: none;
  border-top: 0px solid rgba(21, 21, 21, 0.1);
}

.footer-mint .wave_bottom {
  opacity: 0.7;
  bottom: -95px;
}
.connect-button-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  z-index: 5;
}

@media screen and (min-width: 800px) {
  .connect-button-wrapper {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    top: 0px;
    z-index: 5;
  }
  .rule-wrapper {
    /*text-align: end;*/
    /*align-self: flex-end;*/
  }
  .price-wrapper {
    padding-bottom: 0px;
  }
  .humster-nft-img {
    max-width: 270px;
    height: 270px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #dccdc8;
  }

  .left-wrapper {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    /*align-items: end;*/
  }
  .left-wrapper__text {
    margin-top: 15px;
  }
  .left-wrapper__text p {
    font-family: "Wellfleet", cursive;
    font-size: 20px;
  }
  .left-wrapper__text p:not(:last-child) {
    margin-bottom: 20px;
  }
  .poem-wraapper {
    font-size: 18px;
    line-height: 145%;
    font-family: "Wellfleet", cursive;
    text-align: center;
    padding: 20px;
    /*max-width: 350px;*/
    margin-bottom: 0px;
  }
  .right-wrapper {
    /*padding-right: 100px;*/
  }
  .title-wrapper {
    font-size: 60px;
    margin-bottom: 60px;
  }

  .secondary-mint-title {
    font-size: 50px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .humster-mint .container {
    text-align: left;
    display: flex;
    /*grid-template-columns: 55% 45%;*/
    margin-top: 15px;
    column-gap: 50px;
  }

  .right-wrapper {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
  }

  .buttons-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    /*width: 450px;*/
  }

  .mint-content-wrapper {
    margin-top: 0px;
    margin-bottom: 80px;
    font-size: 22px;
    letter-spacing: 1px;
    font-family: "Wellfleet", cursive;
    font-weight: 600;
  }
}
.main__body {
  display: grid;
  gap: 50px;
  justify-content: center;
  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */

@media (max-width: 1252px) {
  .left-wrapper {
    justify-content: center;
  }
}
@media (max-width: 799px) {
  .left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mint-block {
    margin-bottom: 20px;
  }
  //.custom-button {
  //  margin-bottom: 10px;
  //}
}

.nav-links {
  height: 30px;
  width: 30px;
  background-color: #615f5f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links_twitter {
  background-color: #1da1f2;
}
.nav-links_discord {
  background-color: #7289da;
}

.circle {
  /*position: absolute;*/
  width: 10px; /* поддерживаются любые единицы, в том числе проценты */
  height: 10px;
  margin-bottom: 1px;
  margin-right: 5px;
  background: #25ab00;
  border-radius: 50%;
  @media (max-height: 568px) {
    width: 4px;
    height: 4px;
  }
}
.circle::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
}
.poem-wrapper__time {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poem-wrapper__time-color {
  background: linear-gradient(
    90deg,
    rgba(140, 241, 230, 1) 9%,
    rgba(224, 185, 152, 1) 50%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-family: "Wellfleet", cursive;
}
@media (max-width: 380px) {
  .poem-wrapper {
    font-size: 16px;
  }
}

.nav-link {
  background-color: #fff !important;
  border-color: #212529 !important;
  margin: 10px !important;
  font-family: "Neucha", cursive;
  color: #000000 !important;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 15px !important;
  padding: 1rem 2rem 0.85rem 2rem;
  transform-origin: right;
  transition: all 0.3s ease;
}
.nav-tabs .nav-link.active {
  background-color: #212529 !important;
  color: #fff !important;
}
