
.vesting{
  &__image{
    width: 64px;
    height: 64px;
  }
  &__title{
    font-size: 20px;
    font-weight: 600;
    font-family: "Wellfleet", cursive;
  }
  &__text{
    font-size: 18px;
    font-weight: 400;
  }
}
//sale
.sale{
  &__image{
    img{
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }
  &__title{
    font-size: 20px;
    font-weight: 600;
    font-family: "Wellfleet", cursive;
    margin: 10px 0;
  }
  &__total{
    font-size: 16px;
    font-family: "Wellfleet", cursive;
  }
}
.token-allocation{
  &__title{
    font-size: 20px;
    font-weight: 600;
    font-family: "Wellfleet", cursive;
    margin-bottom: 10px;
  }
}
.main-left__body{
  margin-bottom: 10px;
}
.main-left{
  .main-boarder{
    @media (min-width: 1024px) {
      width: 500px;
    }
  }
}