.bg-ham {
  margin-top: 15px;
  background: linear-gradient(
    90deg,
    rgba(140, 241, 230, 1) 9%,
    rgba(224, 185, 152, 1) 50%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: none;
  list-style: none;
  text-decoration: none;
  font-family: "Wellfleet", cursive;
}
.main-boarder {
  background-color: rgba(239, 239, 239, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 35px;
  border: 1px solid rgba(75, 75, 75, 0.45);
  //box-shadow: 0 0 10px #151515;
  width: 100%;
  transition: background-color 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
  @media (min-width: 370px) {
    padding: 15px;
  }
}
